{{define "options.html"}}
{{template "head" .}}
{{template "sidebar" .}}
<div class="main">
  {{template "topbar" .}}
  <div class="content">
    {{template "flash" .}}

    <div class="page-header">
      <h1 class="page-title">{{T "options_title"}}</h1>
    </div>

    {{with .Data}}
    {{if .CoreErr}}
    <div class="alert alert-error">
      <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd"/></svg>
      <span>{{.CoreErr}}</span>
    </div>
    {{end}}

    {{if .Options}}
    {{$o := .Options}}
    <form method="POST" action="/options">

    <div class="card mb-4">
      <div class="card-header"><span class="card-title">Attack Protection</span></div>
      <div class="card-body p-0">

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.SSHBruteForce}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">SSH Brute-Force</div>
              <div class="option-desc">Limit new SSH connections</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="ssh_brute_force" {{if $o.SSHBruteForce}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <label class="opt-toggle-sm"><input type="checkbox" name="ssh_brute_force_log" {{if $o.SSHBruteForceLog}}checked{{end}}><span>Log</span></label>
            <span class="opt-limit-field"><span>Max conn</span><input type="number" name="ssh_brute_force_connection_limit" value="{{$o.SSHBruteForceConnectionLimit}}" min="1" max="9999" class="input-xs"></span>
            <span class="opt-limit-field"><span>Log limit/min</span><input type="number" name="ssh_brute_force_log_limit" value="{{$o.SSHBruteForceLogLimit}}" min="1" max="9999" class="input-xs"></span>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.ICMPFlood}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path d="M3.505 2.365A41.369 41.369 0 019 2c1.863 0 3.697.124 5.495.365 1.247.167 2.18 1.108 2.435 2.268a4.45 4.45 0 00-.577-.069 43.141 43.141 0 00-4.706 0C9.229 4.696 7.5 6.727 7.5 9v.695A2.86 2.86 0 016 9.5c-.609 0-1.182.13-1.695.364A3.009 3.009 0 012 7c0-2.09 1.715-3.427 3.505-3.635z"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">ICMP Flood</div>
              <div class="option-desc">Rate-limit ICMP ping requests</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="icmp_flood" {{if $o.ICMPFlood}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <label class="opt-toggle-sm"><input type="checkbox" name="icmp_flood_log" {{if $o.ICMPFloodLog}}checked{{end}}><span>Log</span></label>
            <span class="opt-limit-field"><span>Max rate</span><input type="number" name="icmp_flood_connection_limit" value="{{$o.ICMPFloodConnectionLimit}}" min="1" max="9999" class="input-xs"></span>
            <span class="opt-limit-field"><span>Log limit/min</span><input type="number" name="icmp_flood_log_limit" value="{{$o.ICMPFloodLogLimit}}" min="1" max="9999" class="input-xs"></span>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.SYNFlood}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M12.79 11.59A7.001 7.001 0 002.41 8.41 7 7 0 1013 2.93l-4.12 4.12 3.79 4.54zM7 4a1 1 0 110 2A1 1 0 017 4z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">SYN Flood</div>
              <div class="option-desc">Limit new TCP connections per IP</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="syn_flood" {{if $o.SYNFlood}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <label class="opt-toggle-sm"><input type="checkbox" name="syn_flood_log" {{if $o.SYNFloodLog}}checked{{end}}><span>Log</span></label>
            <span class="opt-limit-field"><span>Limit/s</span><input type="number" name="syn_flood_limit" value="{{$o.SYNFloodLimit}}" min="1" max="9999" class="input-xs"></span>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.PortScan}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">Port Scan Detection</div>
              <div class="option-desc">Block NULL/FIN/XMAS scans</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="port_scan" {{if $o.PortScan}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <label class="opt-toggle-sm"><input type="checkbox" name="port_scan_log" {{if $o.PortScanLog}}checked{{end}}><span>Log</span></label>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.InvalidPackets}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">Invalid Packets</div>
              <div class="option-desc">Drop packets with invalid conntrack state</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="drop_invalid_packets" {{if $o.InvalidPackets}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <label class="opt-toggle-sm"><input type="checkbox" name="drop_invalid_packets_log" {{if $o.InvalidPacketsLog}}checked{{end}}><span>Log</span></label>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.Fragments}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-2.046c-1.101-1.245-2.055-2.828-2.055-4.674 0-1.19.925-2.121 2.064-2.121.51 0 .98.199 1.345.526.332-.327.785-.526 1.285-.526.5 0 .954.199 1.285.526.365-.327.836-.526 1.346-.526 1.139 0 2.063.931 2.063 2.121 0 1.846-.954 3.429-2.055 4.674a22.047 22.047 0 01-2.582 2.046 20.758 20.758 0 01-1.162.682l-.019.01-.005.003z"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">Fragment Drop</div>
              <div class="option-desc">Drop IP-fragmented packets</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="drop_fragments" {{if $o.Fragments}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <label class="opt-toggle-sm"><input type="checkbox" name="drop_fragments_log" {{if $o.FragmentsLog}}checked{{end}}><span>Log</span></label>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.Bogons}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">Bogon Filter</div>
              <div class="option-desc">Drop RFC-1918 from external interfaces</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="bogon_filter" {{if $o.Bogons}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <label class="opt-toggle-sm"><input type="checkbox" name="bogon_filter_log" {{if $o.BogonsLog}}checked{{end}}><span>Log</span></label>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.ConnectionLimit}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M9.374 1.5a8.5 8.5 0 100 17 8.5 8.5 0 000-17zm-2 4.5a2 2 0 114 0 2 2 0 01-4 0zm2 4.5a4.5 4.5 0 00-4.416 3.647.75.75 0 01-1.475-.286A6 6 0 019.374 9a6 6 0 015.892 4.861.75.75 0 01-1.476.287A4.5 4.5 0 009.374 10.5z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">Connection Limit</div>
              <div class="option-desc">Max concurrent connections per source IP</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="connection_limit_per_ip" {{if $o.ConnectionLimit}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <span class="opt-limit-field"><span>Max connections</span><input type="number" name="connection_limit_max" value="{{$o.ConnectionLimitMax}}" min="1" max="9999" class="input-xs"></span>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.TCPRSTFlood}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M13 3a1 1 0 011 1v3a1 1 0 01-1 1H7a1 1 0 01-1-1V4a1 1 0 011-1h6zM5 9a1 1 0 011 1v3a1 1 0 01-1 1H2a1 1 0 01-1-1v-3a1 1 0 011-1h3zm9 0a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-3a1 1 0 011-1h3z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">TCP RST Flood</div>
              <div class="option-desc">Rate-limit RST packets</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="tcp_rst_flood" {{if $o.TCPRSTFlood}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <label class="opt-toggle-sm"><input type="checkbox" name="tcp_rst_flood_log" {{if $o.TCPRSTFloodLog}}checked{{end}}><span>Log</span></label>
            <span class="opt-limit-field"><span>Limit/s</span><input type="number" name="tcp_rst_flood_limit" value="{{$o.TCPRSTFloodLimit}}" min="1" max="9999" class="input-xs"></span>
          </div>
        </div>

      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header"><span class="card-title">Traffic Filtering</span></div>
      <div class="card-body p-0">

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.DropBroadcast}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path d="M3.75 4a.75.75 0 01.75-.75h11a.75.75 0 010 1.5h-11A.75.75 0 013.75 4zM3 7.75A.75.75 0 013.75 7h12.5a.75.75 0 010 1.5H3.75A.75.75 0 013 7.75zM3.75 11a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5h-7.5zM3 15.25a.75.75 0 01.75-.75h5a.75.75 0 010 1.5h-5a.75.75 0 01-.75-.75z"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">Drop Broadcast</div>
              <div class="option-desc">Drop broadcast packets</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="drop_broadcast" {{if $o.DropBroadcast}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.DropMulticast}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 4.25A2.25 2.25 0 014.25 2h11.5A2.25 2.25 0 0118 4.25v8.5A2.25 2.25 0 0115.75 15h-3.105a3.501 3.501 0 001.1 1.677A.75.75 0 0113.26 18H6.74a.75.75 0 01-.484-1.323A3.501 3.501 0 007.355 15H4.25A2.25 2.25 0 012 12.75v-8.5z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">Drop Multicast</div>
              <div class="option-desc">Drop multicast packets</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="drop_multicast" {{if $o.DropMulticast}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.DropAnycast}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM6.75 9.25a.75.75 0 000 1.5h4.59l-2.1 1.95a.75.75 0 001.02 1.1l3.5-3.25a.75.75 0 000-1.1l-3.5-3.25a.75.75 0 10-1.02 1.1l2.1 1.95H6.75z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">Drop Anycast</div>
              <div class="option-desc">Drop anycast destination packets</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="drop_anycast" {{if $o.DropAnycast}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.LogBlocked}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h9A1.5 1.5 0 0114 3.5v11.75A2.75 2.75 0 0016.75 18h-12A2.75 2.75 0 012 15.25V3.5zm3.75 7a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5zm0 3a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5zM5 5.75A.75.75 0 015.75 5h4.5a.75.75 0 010 1.5h-4.5A.75.75 0 015 5.75z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">Log Blocked</div>
              <div class="option-desc">Log blocked connections</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="log_blocked_connections" {{if $o.LogBlocked}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <span class="opt-limit-field"><span>Log limit/min</span><input type="number" name="log_blocked_connections_limit" value="{{$o.LogBlockedLimit}}" min="1" max="9999" class="input-xs"></span>
          </div>
        </div>

        <div class="opt-block">
          <div class="option-item">
            <div class="option-icon {{if $o.LogBlacklist}}on{{else}}off{{end}}">
              <svg viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/></svg>
            </div>
            <div class="option-text">
              <div class="option-name">Log Blacklist</div>
              <div class="option-desc">Log blacklisted connection attempts</div>
            </div>
            <label class="opt-toggle"><input type="checkbox" name="log_blacklist_connections" {{if $o.LogBlacklist}}checked{{end}}><span class="opt-slider"></span></label>
          </div>
          <div class="opt-sub">
            <span class="opt-limit-field"><span>Log limit/min</span><input type="number" name="log_blacklist_connections_limit" value="{{$o.LogBlacklistLimit}}" min="1" max="9999" class="input-xs"></span>
          </div>
        </div>

      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{{T "options_save"}}</button>
    </div>

    </form>
    {{end}}
    {{end}}
  </div>
</div>
{{template "foot" .}}
{{end}}
